@using WebApplicationTest.ViewModels
@model EmployeeListViewModel

@{
    Layout = "~/Views/Shared/MyLayout.cshtml";
}


@section TitleSection{
    MyView
}

@section ContentBody{
<div>
    @{
        Html.RenderAction("GetAddNewLink");
    }

    <div>
        <form action="/Employee/Search" method="post">
            <select name="Event">
                <option value="deferred">deferred</option>
                <option value="processed">processed</option>
                <option value="delivered">delivered</option>
                <option value="open">open</option>
                <option value="click">click</option>
            </select>

            <input type="submit" name="BtnSubmit" class="btn btn-primary" value="Submit" />
        </form>
    </div>
        <table border="1">
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Event1</th>
                <th>timeStamp</th>
            </tr>
            @foreach (EmployeeViewModel item in Model.Employees)
            {
            <tr>
                <td>@item.Id</td>
                <td>@item.email</td>
                <td>@item.event1</td>
                <td>@item.timestamp</td>
            </tr>
            }
        </table>

    </div>
}
